# API Keys para llamar a cada webservice o 3rd party app

# Ecobici
ECOBICI_CLIENT_ID: ''
ECOBICI_CLIENT_SECRET: ''

# Taxis
SEMOVI_TAXIS_PASSWORD: ''

# Finanzas
FINANZAS_USUARIO: ''
FINANZAS_PASSWORD: ''
