############
# API Keys para llamar a cada webservice de datos del gobierno

# Ecobici
ECOBICI_CLIENT_ID: ''
ECOBICI_CLIENT_SECRET: ''

# Taxis
SEMOVI_TAXIS_PASSWORD: ''

# Finanzas
FINANZAS_USUARIO: ''
FINANZAS_PASSWORD: ''


############
# 3rd party apps de monitoreo

NEW_RELIC_APP_NAME: ''
NEW_RELIC_LICENSE_KEY: ''

AIRBRAKE_API_KEY: ''
